.sf-select {
    background: none;
    border: none;
    padding-block: 8px;
    padding-inline: 12px;
    inline-size: calc(100% + 16px);
    position: relative;
    margin-inline: -8px;
    margin-block-start: -8px;
    margin-block-end: 8px;
    border-bottom: 4px solid var(--c-foreground);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:focus-visible {
        outline: 4px solid var(--c-outline);
        outline-offset: -4px;
    }

    .dropdown {
        display: none;
        position: absolute;
        left: -4;
        top: 19px;
        border: 4px solid var(--c-foreground);
        background-color: var(--c-surface);
        list-style-type: none;
        padding: 0;
        z-index: 1;
        inline-size: calc(100% + 8px);

        button {
            background: var(--c-shadow);
            border: none;
            padding-block: 8px;
            padding-inline: 12px;
            inline-size: 100%;
            display: flex;

            &:hover,
            &:focus {
                background: var(--c-surface);
                color: var(--c-foreground);
            }
        }
    }
}
