@keyframes blink {
    50% {
        opacity: 0;
    }
}

label.sf-textbox {
    display: inline-flex;
    position: relative;
    flex: 1 1 auto;

    input[type="text"] {
        border-image: url(images/input-border.png) 12 fill / 12px;
        margin-block-start: -4px;
        padding-inline: 20px;
        padding-block: 12px;
        color: var(--c-black);
        background: none;
        inline-size: 0;
        min-inline-size: 212px;
        flex: 1 1 auto;

        &::selection {
            color: var(--c-black);
            background-color: transparent;
        }

        + span {
            position: absolute;
            visibility: hidden;
            inset-block-start: 14px;
            inset-inline-start: 22px;
        }

        &:focus {
            border-image-source: url(images/input-border-selected.png);
            caret-color: transparent;

            + span span:last-child {
                visibility: visible;
                background-color: var(--c-black);
                color: var(--c-white);
                display: inline-block;
                block-size: 24px;

                &.blink {
                    animation: blink 1s step-start 0s infinite;
                }
            }
        }

        &:focus-visible {
            outline: none;
        }
    }
}
