.sf-titlebar {
    background-color: var(--c-surface);
    border-block-end: 4px solid var(--c-foreground);
    color: var(--c-foreground);
    padding-inline: 8px;
    block-size: 40px;
    user-select: none;
    display: flex;
    gap: 8px;
    align-items: center;

    .menu-button {
        block-size: 100%;
        inline-size: 16px;
        padding-block: 10px;

        > div {
            block-size: 100%;
            background: repeating-linear-gradient(
                var(--c-foreground),
                var(--c-foreground) 3px,
                transparent 3px,
                transparent 6px
            );
        }

        &:focus-visible {
            outline: none;

            > div {
                outline: 4px solid var(--c-outline);
                outline-offset: 2px;
            }
        }
    }

    .dragger {
        flex: 1 1 auto;
        block-size: 100%;
        min-inline-size: 32px;
        cursor: grab;
        padding-block: 8px;

        &.dragging {
            cursor: grabbing;
        }

        > div {
            block-size: 100%;
            background: repeating-linear-gradient(
                var(--c-shadow),
                var(--c-shadow) 4px,
                transparent 4px,
                transparent 8px
            );
        }
    }

    .close-button {
        background-image: url(images/close-window.png);
        block-size: 30px;
        inline-size: 30px;
        margin-inline: -3px;

        &:active {
            transform: rotate(180deg);
        }

        &:focus-visible {
            outline: none;
            background-image: url(images/close-window-outline.png);
        }
    }
}
