@layer base {
    html {
        --c-white: #f0edea;
        --c-black: #2e2a2a;
        --c-lightgray: #ccc6c1;
        --c-darkgray: #807c79;
        --c-orange: #e09844;
        --c-darkgreen: #0c4f1a;
        --c-green: #137a28;
        --c-lightgreen: #1aa836;
        --c-darkyellow: #d6af00;
        --c-yellow: #ffdb3d;
        --c-lightyelow: #ffe98a;
        --c-darkred: #7c1210;
        --c-red: #b21e17;
        --c-lightred: #e2201d;
        --c-teal: #3e8b91;
        --c-brown: #89572a;

        --c-primary-bg: var(--c-white);
        --c-primary-fg: var(--c-black);
        --c-surface-bg: var(--c-lightgray);
        --c-surface-fg: var(--c-black);
        --c-alt-bg: var(--c-darkgray);
        --c-alt-fg: var(--c-white);
        --c-border: var(--c-black);
        --c-outline: var(--c-orange);
        --c-success: var(--c-green);
        --c-danger: var(--c-red);
        cursor: url(images/cursor-default.png), default;
    }

    * {
        font-family: Tiny5, monospace;
        font-size: 24px;
        color: var(--c-primary-fg);
        box-sizing: border-box;
        image-rendering: pixelated;
    }

    h1 {
        font-weight: normal;
        font-size: 32px;
    }

    th {
        font-weight: normal;
        font-size: 28px;
    }

    body.sf-theme-dark * {
        --c-primary-fg: var(--c-white);
        --c-primary-bg: var(--c-darkgray);
    }

    body.sf-theme-system * {
        @media (prefers-color-scheme: dark) {
            --c-primary-fg: var(--c-white);
            --c-primary-bg: var(--c-darkgray);
        }
    }

    body {
        margin: 0;
    }

    button {
        cursor: pointer;
    }
}
