.sf-window {
    position: fixed;
    border: 4px solid var(--c-border);
    background: var(--c-primary-bg);
    block-size: fit-content;
    max-block-size: calc(100% - 32px - 94px);
    inline-size: fit-content;
    max-inline-size: 100%;
    margin: 0;
    padding: 0;
    top: 32px;
    left: 0;

    &.maximized {
        block-size: calc(100% - 32px - 94px);
        inline-size: 100%;
    }

    .body {
        padding: 8px;
    }
}
