.sf-window {
    position: fixed;
    border: 4px solid var(--c-foreground);
    background: var(--c-background);
    block-size: fit-content;
    inline-size: fit-content;
    margin: 0;
    padding: 0;

    @media (prefers-color-scheme: dark) {
        background: var(--c-shadow);
    }

    .body {
        padding: 8px;
    }
}
