.sf-desktop {
    inline-size: 100%;
    block-size: 100%;
    position: relative;
    background-color: var(--c-success);
    background: linear-gradient(115deg, transparent 75%, var(--c-teal) 75%) 0 0,
        linear-gradient(245deg, transparent 75%, var(--c-teal) 75%) 0 0,
        linear-gradient(115deg, transparent 75%, var(--c-teal) 75%) 4px -8px,
        linear-gradient(245deg, transparent 75%, var(--c-teal) 75%) 4px -8px, var(--c-success);
    background-size: 8px 16px;
}

.sf-dock {
    position: absolute;
    inset-block-end: 0;
    inline-size: 100%;

    > div {
        margin-inline: auto;
        padding-block: 8px;
        inline-size: fit-content;
        max-inline-size: 100%;
        white-space: nowrap;
        overflow-x: auto;
        scrollbar-width: none;

        &.gradientStart:before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            top: 16px;
            block-size: 64px;
            inline-size: 24px;
            z-index: 1;
            background: radial-gradient(
                ellipse 100% 44px at left,
                var(--c-foreground),
                transparent
            );
        }

        &.gradientEnd:after {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 16px;
            block-size: 64px;
            inline-size: 24px;
            z-index: 1;
            background: radial-gradient(
                ellipse 100% 44px at right,
                var(--c-foreground),
                transparent
            );
        }
    }
}
