.sf-statusbar {
    position: absolute;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 32px;
    padding-inline: 4px;
    background: var(--c-surface);
    display: flex;
    justify-content: space-between;

    .weather,
    .datebox,
    .timebox {
        padding-block: 4px;
        padding-inline: 8px;
        color: var(--c-foreground);
        line-height: 1em;
    }

    button {
        &:hover,
        &:focus {
            background: var(--c-shadow);
            color: var(--c-background);
        }

        &:focus-visible {
            outline: 4px solid var(--c-outline);
            outline-offset: -4px;
        }
    }

    .rhs {
        display: flex;
    }

    .sf-menu {
        top: 8px;
        left: 0;
    }
}
