#solitaire {
    image-rendering: pixelated;
    background-color: var(--c-green);
    margin: -8px;

    @media (min-width: 640px) and (min-height: 480px) {
        height: 480px;
        width: 640px;
    }
}
