.sf-calculator {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .screen {
        border: 4px solid var(--c-white);
        color: var(--c-white);
        background: var(--c-black);
        padding: 8px;
        margin: 8px;
        text-align: right;
    }

    .button-grid {
        display: grid;
        grid-template: repeat(5, auto) / repeat(4, auto);

        :nth-child(8),
        :nth-child(15) {
            grid-row: span 2;
        }

        :nth-child(16) {
            grid-column: span 2;
        }
    }
}
